apiVersion: v1
kind: Service
metadata:
  name: my-service-load-balancer
spec:
  selector:
    app: MyApp
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30000
  type: NodePort